<!-- #*	[S] Common Header *# -->
#parse( "/common/header.vm" )
<!-- #*	[E] Common Header *# -->

<body>
	<!-- #*	[S] Common Snb *# -->
	#parse( "/common/snb.vm" )
	<!-- #*	[E] Common Snb *# -->
	
	<!-- #*	[S] Container *# -->
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">
			
			<!-- #*	[S] Common Sidebar *# -->
			#parse( "/common/sidebar.vm" )
			<!-- #*	[E] Common Sidebar *# -->
			
			<div class="col-sm-9 col-md-10 main">
			<ol class="breadcrumb" style="background-color: transparent; margin-bottom: 5px;">
				<li><i class="glyphicon glyphicon-list" style="margin-right: 5px;"></i> <a href="#" style="color:#999;">장 순</a></li>
				<li class="active" style="color:#555;"></i>제목 순</li>
			</ol>
			
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading"><h4>ㄱ</h4></div>
						<div class="panel-body">
							<div class="list-group">
								<a href="/view/" class="list-group-item">가가가가</a>
								<a href="/view/" class="list-group-item">가가가가</a>
								<a href="/view/" class="list-group-item">가가가가</a>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading"><h4>ㄴ</h4></div>
						<div class="panel-body">
							<div class="list-group">
								<a href="/view/" class="list-group-item">나나나</a>
								<a href="/view/" class="list-group-item">나나나</a>
								<a href="/view/" class="list-group-item">나나나</a>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading"><h4>ㄷ</h4></div>
						<div class="panel-body">
							<div class="list-group">
								<a href="/view/" class="list-group-item">다다다</a>
								<a href="/view/" class="list-group-item">다다다</a>
								<a href="/view/" class="list-group-item">다다다</a>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>		
	<!-- #*	[E] Container *# -->
	
	<footer>
		<div class="pull-right">
			<div class="glyphicon glyphicon-copyright-mark"></div> 
			2015 Copyright Sung-Jun.
		</div>
	</footer>
	<script type="text/javascript">
		"use strict";
		/* #* Velocity 주석 in Javascript *# */
		(function(jQuery) {
			/* #* [S] Document Ready *# */
			jQuery(function() {
				
				jQuery("[data-toggle=offcanvas]").click(function() {
					jQuery(".row-offcanvas").toggleClass("active");
				});
				
				jQuery(window).scroll(function(){
					if  (jQuery(window).scrollTop() >= jQuery(document).height() - jQuery(window).height()) {
						fncLoadingPages();
					}
				});
	
				function fncLoadingPages () {
					
					
					
				}
			});
			/* #* [E] Document Ready *# */
		}(jQuery));
	</script>
</body>
<!-- #*	[S] Common Footer *# -->
#parse( "/common/footer.vm" )
<!-- #*	[E] Common Footer *# -->