<!-- #*	[S] Common Header *# -->
#parse( "/common/header.vm" )
<!-- #*	[E] Common Header *# -->

<body>
	<!-- #*	[S] Common Snb *# -->
	#parse( "/common/snb.vm" )
	<!-- #*	[E] Common Snb *# -->
	
	<!-- #*	[S] Container *# -->
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">
			
			<!-- #*	[S] Common Sidebar *# -->
			#parse( "/common/sidebar.vm" )
			<!-- #*	[E] Common Sidebar *# -->
			
			<div class="col-sm-9 col-md-10 main">
			#if ( $!{pageType} == "title" ) 
				<ol class="breadcrumb" style="background-color: transparent; margin-bottom: 5px;">
					<li>
						<i class="fa fa-lg fa-refresh" style="margin-right: 5px;"></i>
						<a href="?pageType=number" style="color:#999;">장 순</a></li>
					<li class="active" style="color:#555;"><strong>제목 순</strong></li>
				</ol>
			
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄱ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="1" style="margin-right: 10px;"></i>
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="2" style="margin-right: 10px;"></i>
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="3" style="margin-right: 10px;"></i>
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="4" style="margin-right: 10px;"></i>
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="5" style="margin-right: 10px;"></i>
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄴ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="6" style="margin-right: 10px;"></i>
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="7" style="margin-right: 10px;"></i>
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="8" style="margin-right: 10px;"></i>
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="9" style="margin-right: 10px;"></i>
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄷ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="10" style="margin-right: 10px;"></i>
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="11" style="margin-right: 10px;"></i>
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="12" style="margin-right: 10px;"></i>
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="13" style="margin-right: 10px;"></i>
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄹ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="14" style="margin-right: 10px;"></i>
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="15" style="margin-right: 10px;"></i>
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="16" style="margin-right: 10px;"></i>
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="17" style="margin-right: 10px;"></i>
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="18" style="margin-right: 10px;"></i>
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									<i class="fa fa-lg fa-star-o" data-value="19" style="margin-right: 10px;"></i>
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				
			#else
			
				<ol class="breadcrumb" style="background-color: transparent; margin-bottom: 5px;">
					<li class="active" style="color:#555;">
						<i class="fa fa-lg fa-refresh" style="margin-right: 5px;"></i>
						<strong>장 순</strong>
					</li>
					<li>
						<a href="?pageType=title" style="color:#999;">제목 순</a>
					</li>
				</ol>
			
				<div class="col-sm-6">
					#foreach ( $i in [0..11] )
						<div class="panel panel-default">
							<div class="panel-heading">
								#set ( $nIndex = $i + 1 ) 
								#set ( $nStartTitle = $nIndex * 50 - 49 )
								#set ( $nEndTitle = $nIndex * 50 )
								<h3 class="panel-title"><strong>$nStartTitle - $nEndTitle장</strong></h3>
							</div>
							<div class="panel-body">
								<div class="bs-glyphicons">
									<ul class="bs-glyphicons-list">
									#foreach ( $j in [$nStartTitle..$nEndTitle] )
										<li data-click="numberbutton">
											<i class="fa fa-lg fa-star-o" data-value="$j" style="margin-right: 10px;"></i> $j
										</li>
									#end
									</ul>
								</div>
							</div>
						</div>
					#end
				</div>
			#end
			</div>
		</div>
	</div>		
	<!-- #*	[E] Container *# -->
	
	<footer>
		<div class="pull-right">
			<div class="glyphicon glyphicon-copyright-mark"></div> 
			2015 Copyright Sung-Jun.
		</div>
	</footer>
	<script type="text/javascript">
		"use strict";
		/* #* Velocity 주석 in Javascript *# */
		(function(jQuery) {
			/* #* [S] Document Ready *# */
			jQuery(function() {
				/* #* [S] Pre Excute Function *# */
				fnChangeStarColor();
				/* #* [E] Pre Excute Function *# */
				
				/* #* [S] Init Function *# */
				function fnChangeStarColor () {
					var sFavoriteVal	= "$!{favoriteVal}";
					var rSplited		= sFavoriteVal.split(",");
					var nLength			= rSplited.length-1;
					var _target			= "";
					
					for ( var i=0; i<nLength; i++ ) {
						_target		= jQuery("[data-value=" + rSplited[i] + "]");
						_target.addClass("fa-star");
						_target.removeClass("fa-star-o");
					}
				}
				
				function fncLoadingPages () {
				}
				/* #* [E] Init Function *# */
				
				/* #* [S] Event Binding *# */
				jQuery("[data-toggle=offcanvas]").bind("click", function() {
					jQuery(".row-offcanvas").toggleClass("active");
				});
				
				jQuery("[data-click=numberbutton]").bind("click", function(e) {
					e.preventDefault();
					
					if ( e.target.nodeName === "I" ) {
						var _target		= jQuery(e.target);
						var sClassNm	= _target.attr("class");
						var sSettingVal	= _target.attr("data-value");
						
						Controller.setAction("/saveFavorite");
						Controller.setParams({
							"cookieValue"	: sSettingVal,
						});
						Controller.submit(function(data){
							if ( sClassNm.indexOf("fa-star-o") > -1 ) {
								_target.addClass("fa-star");
								_target.removeClass("fa-star-o");
							} else {
								_target.addClass("fa-star-o");
								_target.removeClass("fa-star");
							}
						});
						
					} else {
						location.href="/view/";
					}
				});
				
				jQuery(window).scroll(function(){
					if (jQuery(window).scrollTop() >= jQuery(document).height() - jQuery(window).height()) {
						fncLoadingPages();
					}
				});
				/* #* [E] Event Binding *# */
			});
			/* #* [E] Document Ready *# */
		}(jQuery));
	</script>
</body>
<!-- #*	[S] Common Footer *# -->
#parse( "/common/footer.vm" )
<!-- #*	[E] Common Footer *# -->