<!-- #*	[S] Common Header *# -->
#parse( "/common/header.vm" )
<!-- #*	[E] Common Header *# -->

<body>
	<!-- #*	[S] Common Snb *# -->
	#parse( "/common/snb.vm" )
	<!-- #*	[E] Common Snb *# -->
	
	<!-- #*	[S] Container *# -->
	<div class="container-fluid">
		<div class="row row-offcanvas row-offcanvas-left">
			
			<!-- #*	[S] Common Sidebar *# -->
			#parse( "/common/sidebar.vm" )
			<!-- #*	[E] Common Sidebar *# -->
			
			<div class="col-sm-9 col-md-10 main">
			#if ( $!{pageType} == "title" ) 
				<ol class="breadcrumb" style="background-color: transparent; margin-bottom: 5px;">
					<li>
						<i class="fa fa-lg fa-refresh" style="margin-right: 5px;"></i>
						<a href="?pageType=number" style="color:#999;">장 순</a></li>
					<li class="active" style="color:#555;"><strong>제목 순</strong></li>
				</ol>
			
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄱ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									가가가
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄴ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									나나나
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-sm-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄷ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									다다다
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
					
					<div class="panel panel-default">
						<div class="panel-heading">
							<h3 class="panel-title"><strong>ㄹ</strong></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<a href="#" class="list-group-item" data-click="numberbutton">
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
								<a href="#" class="list-group-item" data-click="numberbutton">
									라라라
									<span class="pull-right text-muted small"><em>234 장</em></span>
								</a>
							</div>
						</div>
					</div>
				</div>
				
			#else
			
				<ol class="breadcrumb" style="background-color: transparent; margin-bottom: 5px;">
					<li class="active" style="color:#555;">
						<i class="fa fa-lg fa-refresh" style="margin-right: 5px;"></i>
						<strong>장 순</strong>
					</li>
					<li>
						<a href="?pageType=title" style="color:#999;">제목 순</a>
					</li>
				</ol>
			
				<div class="col-sm-6">
					#set ( $nTotal = 10 )
					
					#set ( $nTotalDiv1 = $nTotal / 50.0 )
					#set ( $nTotalDiv2 = $nTotal / 50 )
					#set ( $nTemp = $nTotalDiv1 - $nTotalDiv2 )
					#set ( $nTemp = $nTemp * 100 )
					#set ( $nTemp = $math.ceil( $nTemp ) )
					#set ( $nTemp = $nTemp * 0.5 )
					#set ( $nTemp = $math.toInteger($nTemp) )
					
					#if ( $nTotal < 50 ) 
						#set ( $nEndTotal = 1 )
					#else  
						#set ( $nEndTotal = $math.ceil($nTotalDiv1) )
					#end
					
					#foreach ( $i in [1..$nEndTotal] )
						<div class="panel panel-default">
							<div class="panel-heading">
								#set ( $nStartTitle = $i * 50 - 49 )
								#if ( $i == $nEndTotal && $nTemp != 0 && $nTotal >= 50 )
									#set ( $nEndTitle = $nTemp + ( ( $i - 1 ) * 50 ) )
								#elseif ( $i == $nEndTotal && $nTemp != 0 && $nTotal < 50 )
									#set ( $nEndTitle = $nTemp + 50 )
								#else 
									#set ( $nEndTitle = $i * 50  )
								#end
								
								$!{nTemp}
								
								$!{nEndTitle}
								
								<h3 class="panel-title"><strong>$nStartTitle - $nEndTitle 장</strong></h3>
							</div>
							<div class="panel-body">
								<div class="bs-glyphicons">
									<ul class="bs-glyphicons-list">
									#foreach ( $j in [$nStartTitle..$nEndTitle] )
										<li data-click="numberbutton">$j 장</li>
									#end
									</ul>
								</div>
							</div>
						</div>
					#end
				</div>
			#end
			</div>
		</div>
	</div>		
	<!-- #*	[E] Container *# -->
	
	<footer>
		<div class="pull-right">
			<div class="glyphicon glyphicon-copyright-mark"></div> 
			2015 Copyright Sung-Jun.
		</div>
	</footer>
	<script type="text/javascript">
		"use strict";
		/* #* Velocity 주석 in Javascript *# */
		(function(jQuery) {
			/* #* [S] Document Ready *# */
			jQuery(function() {
				/* #* [S] Init Function *# */
				var fnChangeStarColor = function () {
					var sFavoriteVal	= "$!{favoriteVal}";
					var rSplited		= sFavoriteVal.split(",");
					var nLength			= rSplited.length-1;
					var _target			= "";
					
					for ( var i=0; i<nLength; i++ ) {
						_target		= jQuery("[data-value=" + rSplited[i] + "]");
						_target.addClass("fa-star");
						_target.removeClass("fa-star-o");
					}
				}
				
				var fnLoadingPages = function () {
					console.log("loadingng");
				}
				/* #* [E] Init Function *# */
				
				/* #* [S] Pre Excute Function *# */
				fnChangeStarColor();
				/* #* [E] Pre Excute Function *# */
				
				/* #* [S] Event Binding *# */
				jQuery("[data-click=numberbutton]").bind("click", function(e) {
					e.preventDefault();
					location.href="/view/";
				});
				
				jQuery(window).scroll(function(){
					if (jQuery(window).scrollTop() >= jQuery(document).height() - jQuery(window).height()) {
						fnLoadingPages();
					}
				});
				/* #* [E] Event Binding *# */
			});
			/* #* [E] Document Ready *# */
		}(jQuery));
	</script>
</body>
<!-- #*	[S] Common Footer *# -->
#parse( "/common/footer.vm" )
<!-- #*	[E] Common Footer *# -->