<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <mappers>
        <!-- <mapper resource="com/praiseapp/test/TestQry.xml" />  -->
        <mapper resource="com/praiseapp/main/MainQry.xml" />
    </mappers>
</configuration>