<!doctype html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- <meta http-equiv="Refresh" content="100" />  -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="/resources/lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="/resources/lib/css/dataTables.bootstrap.css">
	<link rel="stylesheet" href="/resources/lib/css/common.css"></link>
	<link rel="stylesheet" href="/resources/lib/css/font.css"></link>
	
	<script type="text/javascript" src="/resources/lib/js/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/resources/lib/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/resources/lib/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/resources/lib/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="/resources/lib/js/dataTables.bootstrap.min.js"></script>
	<script type="text/javascript" src="/resources/lib/js/spin.min.js"></script>
	<script type="text/javascript" src="/resources/lib/js/common.js"></script>
	
	<title>Test</title>
	
</head>
#parse( "/common/spinner.vm" )
#parse( "/common/alertModal.vm" )
#parse( "/common/modal.vm" )